* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
  color: #e7484f;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  padding: 1rem 10rem 1rem 2rem;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/background.png') no-repeat center center;
  background-size: cover;
  filter: blur(10px); /* Reduced blur effect */
  opacity: 0.8; /* Adjust opacity if needed */
  z-index: -1;
}

.list-container {
  flex: 0 0 20%;
  display: none;
  flex-direction: column;
}

.wrapper.show .list-container {
  display: flex;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

textarea {
  flex-grow: 1;
  background-color: #222226;
  border: 1px solid #000;
  padding: 0.5rem;
  color: #aab;
}

.content-container {
  display: flex;
  flex: 1;
  gap: 1rem;
  position: relative; /* Ensure the content-container is positioned relatively */
}

.spinner-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.additional-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#spinnerImage {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
  border-radius: 0.5em; /* Rounded corners for a soft look */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Shadow to make it stand out */
}

.last-picked {
  padding: 1em;
  /* background: linear-gradient(135deg, #ff6f61, #de6262);  */
  border-radius: 0.5em;
  width: 100%; /* Full width for the container */
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  justify-content: center; /* Center align items vertically */
  position: relative; /* Relative positioning */
  margin: 0 auto; /* Center the container horizontally */
  color: #fff; /* White text color for contrast */
}

.last-picked label {
  width: 100%;
  font-size: 1.5rem;
  color: #ffffff; /* White text color for label */
  margin-bottom: 0.5em;
  text-align: center; /* Center text horizontally */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Text shadow for better readability */
}

#lastPickedList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Full width for list */
}

#lastPickedList li {
  font-size: 2rem;
  border: 1px solid #aaa;
  padding: 0.5em;
  /* width: 60%; */
  text-align: center;
  background-color: white;
  color: red;
  box-shadow: inset 0em 0.5em 0.75em 0em rgba(0, 0, 0, 0.45),
              inset 0em -0.5em 0.75em 0em rgba(0, 0, 0, 0.45),
              inset 1em 0em 0.7em 0.5em rgba(255, 255, 255, 1),
              0em 0em 0.75em 0em rgba(0, 0, 0, 0.25);
  border-radius: 0.15em;
  position: relative;
  margin-bottom: 10px;
}

#lastPickedList li:before,
#lastPickedList li:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px;
}

#lastPickedList li:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}


.name {
  font-size: 2rem;
  border: 1px solid #aaa;
  padding: 0.5em;
  width: 60%;
  text-align: center;
  background-color: white;
  color: red;
  box-shadow: inset 0em 0.5em 0.75em 0em rgba(0, 0, 0, 0.45),
              inset 0em -0.5em 0.75em 0em rgba(0, 0, 0, 0.45),
              inset 1em 0em 0.7em 0.5em rgba(255, 255, 255, 1),
              0em 0em 0.75em 0em rgba(0, 0, 0, 0.25);
  border-radius: 0.15em;
  position: relative;
}

.name:before,
.name:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px;
}

.name:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}

.new-div {
  padding: 1em;
  background-color: rgba(62, 62, 62, 0.8); /* Semi-transparent background color */
  border-radius: 0.5em;
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

.new-div p {
  font-size: 1.2rem;
  color: #f4f4f4;
}

button {
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  font-size: 1.5em;
  border-radius: 0.25em;
  border: none;
  width: 250px;
  text-align: center;
  color: #fff;
  background-color: #5e8ef7;
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.1s;
}

button:hover {
  background-color: #417ee3;
}

button:active {
  transform: translateY(2px);
}

button.spinner-button {
  background-color: #5e8ef7;
}

button.spinner-button:hover {
  background-color: #417ee3;
}

button.spinner-button:active {
  transform: translateY(2px);
}

button.settings-button {
  background-color: #f78c5e;
}

button.settings-button:hover {
  background-color: #e37247;
}

button.settings-button:active {
  transform: translateY(2px);
}

a {
  margin-top: 0.5em;
  padding: 0.5em 2em;
  font-size: 1.5em;
  border-radius: 0.25em;
  text-decoration: none;
  width: 250px;
  text-align: center;
  color: #fff;
  background-color: #5e8ef7;
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.1s;
}

a:hover {
  background-color: #417ee3;
}

a:active {
  transform: translateY(2px);
}
